@import "tailwindcss";

@theme {
  --color-primary: #22d3ee;
  /* cyan-400 */
  --color-secondary: #a855f7;
  /* purple-500 */
  --color-background: #020617;
  /* slate-950 */
  --color-surface: #0f172a;
  /* slate-900 */
  --color-text: #f8fafc;
  /* slate-50 */
  --font-sans: Inter, sans-serif;

  --animate-glow: glow 2s ease-in-out infinite alternate;

  @keyframes glow {
    from {
      box-shadow: 0 0 5px #22d3ee, 0 0 10px #22d3ee;
    }

    to {
      box-shadow: 0 0 10px #22d3ee, 0 0 20px #22d3ee;
    }
  }
}

body {
  @apply bg-background text-text font-sans antialiased selection:bg-primary selection:text-black;
}